doctype html
html
  head
    title Welcome!!!
  body
    h1 Welcome to your Nodejs web app structure
    p
      | Hello World!!!
    p
      | Here is an example url
    a(href="/comments/10") Comment with id 10